@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.about__heading {
	font-family: 'GT Walsheim Pro';
	font-weight: 900;
	font-size: 24px;
	color: #a855f7;
}

.about__paragraph {
	font-family: 'GT Walsheim Pro';
	// font-weight: 400;
	font-size: 18px;
	line-height: 1.75;

	@media screen and (min-width: 1000px) {
		padding: 10px 100px;
		background-color: rgba(245, 245, 245, 0.03);
		border-radius: 50px;
	}
}

.drawing__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #ef4444;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.crafting__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #ec4899;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.writing__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #06b6d4;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.compaq__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;

	background-color: #f43f5e;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.mhz__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #d946ef;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.dvd__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #06b6d4;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.sketchup__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #ef4444;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.vray__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #0ea5e9;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.files__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #f59e0b;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.files__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #0ea5e9;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.folders__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	background-color: #eab308;
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.css__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #3b82f6;
	border-radius: 10px;
	padding: 0 5px;
}

.html__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #ef4444;
	border-radius: 10px;
	padding: 0 5px;
}

.javascript__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #eab308;
	border-radius: 10px;
	padding: 0 5px;
}

.ruby__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #ef4444;
	border-radius: 10px;
	padding: 0 5px;
}

.rails__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #ef4444;
	border-radius: 10px;
	padding: 0 5px;
}

.cli__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #a855f7;
	border-radius: 10px;
	padding: 0 5px;
}

.mvc__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #22c55e;
	border-radius: 10px;
	padding: 0 5px;
}

.svelte__span {
	font-family: 'GT Walsheim Pro';
	font-weight: 700;
	color: #1b1e28;
	background-color: #ef4444;
	border-radius: 10px;
	padding: 0 5px;
}

.brackets__span {
	color: #d946ef;
	font-weight: 600;
}

.curly__span {
	color: #eab308;
	font-weight: 600;
}

.async__span {
	font-style: italic;
	font-weight: 600;
	color: #a855f7;
}

.callback__span {
	font-weight: 600;
	color: #eab308;
}

.arrow__span {
	font-weight: 600;
	color: #a855f7;
}

.about__serialmapper__link {
	font-family: 'cubano';
	font-size: 20px;
	color: #3b82f6;
}
