@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.about__heading {
	font-family: 'cubano';
	font-size: 20px;
	color: #a855f7;
}

.html__span {
	font-family: 'cubano';
	color: #ef4444;
}

.css__span {
	font-family: 'cubano';
	color: #3b82f6;
}

.javascript__span {
	font-family: 'cubano';
	color: #eab308;
}

.ruby__span {
	font-family: 'cubano';
	color: #ef4444;
}

.rails__span {
	font-family: 'cubano';
	color: #ef4444;
}

.cli__span {
	font-family: 'cubano';
	color: #d946ef;
}

.mvc__span {
	font-family: 'cubano';
	color: #8b5cf6;
}

.svelte__span {
	font-family: 'cubano';
	color: #f97316;
}

.about__serialmapper__link {
	font-family: 'cubano';
	font-size: 20px;
	color: #3b82f6;
}
