@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

.tag {
	font-weight: 600;
	font-family: 'GT Walsheim Pro';
	color: #1b1e28;
	border-radius: 10px;
	padding: 0 5px;
}

.about__heading {
	font-family: 'GT Walsheim Pro';
	font-weight: 900;
	font-size: 24px;
	color: #a855f7;
}

.about__paragraph {
	font-family: 'GT Walsheim Pro';
	font-size: 18px;
	line-height: 1.75;

	@media screen and (min-width: 1000px) {
		padding: 10px 100px;
		background-color: #a6accd22;
	}
}

.drawing__span {
	font-family: 'GT Walsheim Pro';

	background-color: #ef4444;
}

.crafting__span {
	background-color: #ec4899;
}

.writing__span {
	background-color: #06b6d4;
}

.compaq__span {
	background-color: #f43f5e;
}

.mhz__span {
	background-color: #d946ef;
}

.dvd__span {
	background-color: #06b6d4;
}

.sketchup__span {
	background-color: #ef4444;
}

.vray__span {
	background-color: #0ea5e9;
}

.files__span {
	background-color: #f59e0b;
}

.files__span {
	background-color: #0ea5e9;
}

.folders__span {
	background-color: #eab308;
}

.css__span {
	background-color: #3b82f6;
}

.html__span {
	background-color: #ef4444;
}

.javascript__span {
	background-color: #eab308;
}

.ruby__span {
	background-color: #ef4444;
}

.rails__span {
	background-color: #ef4444;
}

.cli__span {
	background-color: #a855f7;
}

.mvc__span {
	background-color: #22c55e;
}

.svelte__span {
	background-color: #ef4444;
}

.brackets__span {
	color: #d946ef;
	padding: 0;
}

.curly__span {
	color: #eab308;
	padding: 0;
}

.async__span {
	font-style: italic;
	padding: 0;

	color: #a855f7;
}

.callback__span {
	color: #eab308;
	padding: 0;
}

.arrow__span {
	color: #a855f7;
	padding: 0;
}

.about__serialmapper__link {
	font-family: 'cubano';
	font-size: 24px;
	border: 1px solid #3b82f6;
	padding: 0 5px;
	color: #3b82f6;
}

.dev__span {
	background-color: #a855f7;
}

.community__span {
	background-color: #3b82f6;
}

.eco__span {
	background-color: #d946ef;
}

.open-source__span {
	background-color: #06b6d4;
}

.hobby__tags {
	max-width: 200px;
	text-align: center;
	:hover {
		cursor: pointer;
		color: #d946ef;
		border: 0.5px solid #d946ef;
		transition: all;
	}
}

.skills__tag {
	font-size: 8px;
	font-weight: 600;
	color: #1b1e28;
	border-radius: 3px;
	padding: 4px 4px;
	background-color: #a6accd22;
	white-space: nowrap;
}
