pre.shiki.bash span.line {
	// background-color: #5de4c717;

	background-color: rgba(194, 54, 229, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	max-width: fit-content;
}
// pre.shiki.bash span.line:last-of-type {
// 	display: none;
// }

pre.shiki.bash {
	margin-bottom: 30px;
}
