.background-champion {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, var(--champion-color) 100%);
}

.border-champion {
    border-width: 2px;
    /* Adjust the border width as needed */
    border-color: var(--champion-color);
    /* Tailwind's blue-400 */
}

.glow-champion {
    position: relative;
    box-shadow:
        inset 0 5px 30px 1px var(--background-color-shadow),
        inset 0 0 0px var(--common-color),
        inset 0 0 0px var(--common-color),
        inset 0 0 0px #0ff,
        -5px 0 50px var(--champion-color),
        10px 0 50px var(--champion-color);
    transition: all .3s ease-in-out;
}

.glow-champion:hover {
    scale: 1.1;
    box-shadow:
        inset 0 5px 10px var(--background-color-shadow),
        -5px 0 100px var(--champion-color),
        10px 0 100px var(--champion-color);
    transition: all .3s ease-in-out;
}

.glow-champion:hover::after {
    opacity: 1;
}

.glow-champion::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-shadow:
        -5px 10 120px var(--champion-color),
        10px 10 120px var(--champion-color);
    ;
    transition: opacity 0.3s ease-in-out;
}