$backgroundcolor: #1b1e28;
$texcolor: #e4f0fb;
$texcolor2: #a6accdc0;
$texcolor3: #5de4c7;

pre.shiki.javascript {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	background-color: $texcolor2;

	@media (max-width: 430px) {
		padding: 5px 5px;
	}
}
