.border-legendary {
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: #1b1e28;
}

.border-legendary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 16px;
    padding: 4px;
    background: linear-gradient(to right, #c850c0, #ffcc70, #6bd85d);
    -webkit-mask:
        linear-gradient(#1b1e28 0 0) content-box,
        linear-gradient(#1b1e28 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}