$backgroundcolor: #1b1e28;
$texcolor: #e4f0fb;
$texcolor2: #a6accdc0;
$texcolor3: #5de4c7;
$texcolor3: #c336e5;

/* Scrollbar style for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 6px; /* Breedte van de scrollbar */
	height: 6px;
}

// ::-webkit-scrollbar-track {
// 	// background: #a6accdc0; /* Achtergrond van de scrollbar track */
// }

::-webkit-scrollbar-thumb {
	background-color: #a6accdc0; /* Kleur van het scroll-thumb */
	border-radius: 6px; /* Afgeronde hoeken van het scroll-thumb */
	// border: 1px solid #a6accdc0; /* Ruimte rond het scroll-thumb */
	color: #a6accdc0;
}

// ::-webkit-scrollbar-thumb:hover {
// 	// background: #555; /* Kleur bij hover */
// }
