$backgroundcolor: #1b1e28;
$texcolor: #e4f0fb;
$texcolor2: #a6accdc0;
$texcolor3: #5de4c7;
$texcolor3: #c336e5;

/* Scrollbar style for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 6px; /* Breedte van de scrollbar */
}

::-webkit-scrollbar-track {
	background: #e4f0fb; /* Achtergrond van de scrollbar track */
}

::-webkit-scrollbar-thumb {
	background-color: #1b1e28; /* Kleur van het scroll-thumb */
	border-radius: 6px; /* Afgeronde hoeken van het scroll-thumb */
	border: 1px solid #f1f1f1; /* Ruimte rond het scroll-thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: #555; /* Kleur bij hover */
}
